.bar{
    /* background-color: rgba(255, 255, 255, 0) !important; */
    color: #ff006a !important;
    width: 100vw !important;
    margin: auto !important;
}
a{
    /* color: white !important; */
    padding-bottom:0px ;
    font-size: 25px;
    margin-right: 20px;
}
img{
    height: 30% !important;
    width: 30% !important;
    margin-right: 20px;

}
body{
    width: 100vw;
    height: 100vh;
    /* background-image: url("../../../assets/images/fundoInicial.png");  */
    background-repeat: no-repeat; 
    background-position: block; 
    background-size: 100%;
}
.buscar{
    background-color: rgba(255, 235, 205, 0);
    border-color: #ffffff !important;
    color: white;
}
#navbarSupportedContent{
    text-align: right !important;
}
.container-fluid{
    padding-left: 6vw;
    padding-right: 6vw;
}
#menu a:hover{
    border-bottom: #FC5EB9 3px solid;
    cursor: pointer;
}
.carousel{
    width: 100vw !important;
    height: 100vh; 
}
.button-venha{
    font-size: 20px;
    position:absolute;
    z-index:1;
    top:90%;
    left:85%;
    background-color: #FC5EB9;
    border-radius: 30px;               
    padding:5px;
    padding-left: 15px;
    padding-right: 15px;
    margin:-15px 0 0 -30px;   /* margem à esquerda e ao topo metade da medida do botão */
    border:0 none;
}
.button-venha:hover{
    background-color: #a6fcff;
    color: black;
}



