<div class="body">
<h1>Escolha onde quer ir hoje</h1>
<div class="row">
  <div class="col-4">
    <div class="card restaurante">
      <div class="back">
        <div class="card-body">
          <h2>Restaurantes</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card roles">
      <div class="back">
        <div class="card-body">
          <h2>Rolês de Hoje</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card bares">
      <div class="back">
        <div class="card-body">
          <h2>Bares</h2>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-4">
    <div class="card baladas">
      <div class="back">
        <div class="card-body">
          <h2>Baladas</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card shoppings">
      <div class="back">
        <div class="card-body">
          <h2>Shoppings</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card cinemas">
      <div class="back">
        <div class="card-body">
          <h2>Cinemas</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card teatros">
      <div class="back">
        <div class="card-body">
          <h2>Teatros</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card shows">
      <div class="back">
        <div class="card-body">
          <h2>Shows</h2>
        </div>
      </div>
    </div>
  </div>
</div>
</div>